# Creating a Database

In [1]:
#create a database in MySQL, using the "CREATE DATABASE" statement
import mysql.connector

mydb = mysql.connector.connect(
  host="#####",
  user="#####",
  password="#####",
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE clientsdatabase")  # set database name to clientsdatabase

# Check if Database Exists

In [2]:
#check if a database exist by listing all databases in the system using the "SHOW DATABASES" statement:
mydb = mysql.connector.connect(
  host="#####",
  user="#####",
  password="#####",
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('clientsdatabase',)
('information_schema',)
('mysql',)
('ourcustomerdatabase',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

# Creating a Table

In [3]:
#create a table in MySQL, use the "CREATE TABLE" statement.
mydb = mysql.connector.connect(
  host="#####",
  user="#####",
  password="#####",
  database="clientsdatabase"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

# Check if Table Exists

In [4]:
# check if a table exist by listing all tables in the database with the "SHOW TABLES" statement:
mydb = mysql.connector.connect(
  host="#####",
  user="#####",
  password="#####",
  database="clientsdatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('customers',)

# Create primary key

In [5]:
# create a column with a unique key for each record.
#defining a PRIMARY KEY, use the statement "INT AUTO_INCREMENT PRIMARY KEY" which will insert a unique number for each record. Starting at 1, and increased by one for each record.
#If the table already exists, use the ALTER TABLE keyword:

mydb = mysql.connector.connect(
  host="#####",
  user="#####",
  password="#####",
  database="clientsdatabase"
)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

# Insert Into Table

In [6]:
#fill table in MySQL, using the "INSERT INTO" statement
mydb = mysql.connector.connect(
  host="#####",
  user="#####",
  password="#####",
  database="clientsdatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Alex", "74 Mayfield")
mycursor.execute(sql, val)

mydb.commit() #mydb.commit() is required to make the changes, otherwise no changes are made to the table

print(mycursor.rowcount, "record inserted.")

1 record inserted.

# Insert Multiple Rows

In [7]:
#insert multiple rows into a table, using the executemany() method.

mydb = mysql.connector.connect(
  host="#####",
  user="#####",
  password="#####",
  database="clientsdatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Alan', 'MkM st 6'),
  ('Maxwell', 'Ring st 200'),
  ('Mandy', 'spring avenue 87'),
  ('Michelle', 'spring bank 889'),
  ('Sandra', 'henry way 10'),
  ('Natalie', 'Pearson 100'),
  ('Richardson', 'RedSky st 391'),
  ('Sussy', 'Two way 198'),
  ('Vic', 'Grey st 002'),
  ('Benjamin', 'Park ave 538'),
  ('Willsmith', 'City center 854'),
  ('Chucky', 'Beverley Road 389'),
  ('Viera', 'Sidney st 1703')
]

mycursor.executemany(sql, val) #the executemany() method is a list of tuples, containing the data to be inserted:

mydb.commit() #mydb.commit() is required to make the changes, otherwise no changes are made to the table

print(mycursor.rowcount, "was inserted.")

13 was inserted.

# Get Inserted ID

In [8]:
#get the id of the row inserted by asking the cursor object.

mydb = mysql.connector.connect(
  host="#####",
  user="#####",
  password="#####",
  database="clientsdatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Alan", "MkM st 6")
mycursor.execute(sql, val)

mydb.commit() #mydb.commit() is required to make the changes, otherwise no changes are made to the table

print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 15

# Select From a Table

In [9]:
#To select from a table in MySQL, use the "SELECT" statement:
mydb = mysql.connector.connect(
  host="#####",
  user="#####",
  password="#####",
  database="clientsdatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall() #use the fetchall() method, which fetches all rows from the last executed statement.

for x in myresult:
    print(x)

('Alex', '74 Mayfield', 1)
('Alan', 'MkM st 6', 2)
('Maxwell', 'Ring st 200', 3)
('Mandy', 'spring avenue 87', 4)
('Michelle', 'spring bank 889', 5)
('Sandra', 'henry way 10', 6)
('Natalie', 'Pearson 100', 7)
('Richardson', 'RedSky st 391', 8)
('Sussy', 'Two way 198', 9)
('Vic', 'Grey st 002', 10)
('Benjamin', 'Park ave 538', 11)
('Willsmith', 'City center 854', 12)
('Chucky', 'Beverley Road 389', 13)
('Viera', 'Sidney st 1703', 14)
('Alan', 'MkM st 6', 15)

# Selecting Columns

In [10]:
#select only some of the columns in a table, use the "SELECT" statement followed by the column name(s):

mydb = mysql.connector.connect(
  host="#####",
  user="#####",
  password="#####",
  database="clientsdatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT name, address FROM customers")

myresult = mycursor.fetchall() #use the fetchall() method, which fetches all rows from the last executed statement.

for x in myresult:
    print(x)

('Alex', '74 Mayfield')
('Alan', 'MkM st 6')
('Maxwell', 'Ring st 200')
('Mandy', 'spring avenue 87')
('Michelle', 'spring bank 889')
('Sandra', 'henry way 10')
('Natalie', 'Pearson 100')
('Richardson', 'RedSky st 391')
('Sussy', 'Two way 198')
('Vic', 'Grey st 002')
('Benjamin', 'Park ave 538')
('Willsmith', 'City center 854')
('Chucky', 'Beverley Road 389')
('Viera', 'Sidney st 1703')
('Alan', 'MkM st 6')

# Using the fetchone() Method

In [11]:
#If interested in one row, use the fetchone() method.

mydb = mysql.connector.connect(
  host="#####",
  user="#####",
  password="#####",
  database="clientsdatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchone() #The fetchone() method will return the first row of the result:

print(myresult)

('Alex', '74 Mayfield', 1)

# Select With a Filter

In [12]:
#When selecting records from a table, filter the selection by using the "WHERE" statement:
mydb = mysql.connector.connect(
  host="#####",
  user="#####",
  password="#####",
  database="clientsdatabase"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address ='Sidney st 1703'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Viera', 'Sidney st 1703', 14)

# Wildcard Characters

In [13]:
#select the records that starts, includes, or ends with a given letter or phrase.
#Use the %  to represent wildcard characters:

mydb = mysql.connector.connect(
  host="#####",
  user="#####",
  password="#####",
  database="clientsdatabase"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address LIKE '%st%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Alan', 'MkM st 6', 2)
('Maxwell', 'Ring st 200', 3)
('Richardson', 'RedSky st 391', 8)
('Vic', 'Grey st 002', 10)
('Viera', 'Sidney st 1703', 14)
('Alan', 'MkM st 6', 15)

# Prevent SQL Injection

In [14]:
#When query values are provided by the user, you should escape the values.
#This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database

mydb = mysql.connector.connect(
  host="#####",
  user="#####",
  password="#####",
  database="clientsdatabase"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address = %s" #Escape query values by using the placholder %s method:
adr = ("Vic Grey st 002", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

# Sort the Result

In [15]:
#Use the ORDER BY statement to sort the result in ascending or descending order.

mydb = mysql.connector.connect(
  host="#####",
  user="#####",
  password="#####",
  database="clientsdatabase"
)
mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name" #The ORDER BY keyword sorts the result ascending by default. To sort the result in descending order, use the DESC keyword.

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Alan', 'MkM st 6', 2)
('Alan', 'MkM st 6', 15)
('Alex', '74 Mayfield', 1)
('Benjamin', 'Park ave 538', 11)
('Chucky', 'Beverley Road 389', 13)
('Mandy', 'spring avenue 87', 4)
('Maxwell', 'Ring st 200', 3)
('Michelle', 'spring bank 889', 5)
('Natalie', 'Pearson 100', 7)
('Richardson', 'RedSky st 391', 8)
('Sandra', 'henry way 10', 6)
('Sussy', 'Two way 198', 9)
('Vic', 'Grey st 002', 10)
('Viera', 'Sidney st 1703', 14)
('Willsmith', 'City center 854', 12)

# ORDER BY DESC

In [16]:
mydb = mysql.connector.connect(
  host="#####",
  user="#####",
  password="#####",
  database="clientsdatabase"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name DESC" #To sort the result in descending order, use the DESC keyword.

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Willsmith', 'City center 854', 12)
('Viera', 'Sidney st 1703', 14)
('Vic', 'Grey st 002', 10)
('Sussy', 'Two way 198', 9)
('Sandra', 'henry way 10', 6)
('Richardson', 'RedSky st 391', 8)
('Natalie', 'Pearson 100', 7)
('Michelle', 'spring bank 889', 5)
('Maxwell', 'Ring st 200', 3)
('Mandy', 'spring avenue 87', 4)
('Chucky', 'Beverley Road 389', 13)
('Benjamin', 'Park ave 538', 11)
('Alex', '74 Mayfield', 1)
('Alan', 'MkM st 6', 2)
('Alan', 'MkM st 6', 15)

# Delete Record

In [17]:
#delete records from an existing table by using the "DELETE FROM" statement:
mydb = mysql.connector.connect(
  host="#####",
  user="#####",
  password="#####",
  database="clientsdatabase"
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = 'MkM st 6'" #WHERE clause in the DELETE syntax: The WHERE clause specifies which record(s) that should be deleted. If you omit the WHERE clause, all records will be deleted!

mycursor.execute(sql)

mydb.commit() #mydb.commit() is required to make the changes, otherwise no changes are made to the table


print(mycursor.rowcount, "record(s) deleted")

2 record(s) deleted

# Delete a Table

In [18]:

#mydb = mysql.connector.connect(
  #host="#####",
  #user="####",
  #password="#####",
  #database="clientsdatabase"
#)

#mycursor = mydb.cursor()

#sql = "DROP TABLE customers"

#mycursor.execute(sql)

# Delete table if exist

In [19]:
#mydb = mysql.connector.connect(
  #host="#####",
  #user="####",
  #password="#####",
  #database="clientsdatabase"
#)

#mycursor = mydb.cursor()

#sql = "DROP TABLE IF EXISTS customers"

#mycursor.execute(sql)

# Update Table

In [20]:
#update existing records in a table by using the "UPDATE" statement:

mydb = mysql.connector.connect(
  host="#####",
  user="#####",
  password="#####",
  database="clientsdatabase"
)

mycursor = mydb.cursor()

sql = "UPDATE customers SET address = 'Pearson Pack 123' WHERE address = 'Pearson 100'"

mycursor.execute(sql)

mydb.commit()#mydb.commit() is required to make the changes, otherwise no changes are made to the table


print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

# Prevent SQL Injection

In [21]:
#The mysql.connector module uses the placeholder %s to escape values in the delete statement:
mydb = mysql.connector.connect(
  host="#####",
  user="#####",
  password="#####",
  database="clientsdatabase"
)

mycursor = mydb.cursor()

sql = "UPDATE customers SET address = %s WHERE address = %s"
val = ("Pearson 100", "Pearson Pack 123")

mycursor.execute(sql, val)

mydb.commit() #mydb.commit() is required to make the changes, otherwise no changes are made to the table

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

# Limit the Result

In [22]:
#limit the number of records returned from the query, by using the "LIMIT" statement:

mydb = mysql.connector.connect(
  host="#####",
  user="#####",
  password="#####",
  database="clientsdatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers LIMIT 5")

myresult = mycursor.fetchall() #use the fetchall() method, which fetches all rows from the last executed statement.

for x in myresult:
    print(x)

('Alex', '74 Mayfield', 1)
('Maxwell', 'Ring st 200', 3)
('Mandy', 'spring avenue 87', 4)
('Michelle', 'spring bank 889', 5)
('Sandra', 'henry way 10', 6)

# Start From Another Position

In [23]:
#Ito return five records, starting from the second record, you can use the "OFFSET" keyword:
mydb = mysql.connector.connect(
  host="#####",
  user="#####",
  password="#####",
  database="clientsdatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers LIMIT 5 OFFSET 2")

myresult = mycursor.fetchall() #use the fetchall() method, which fetches all rows from the last executed statement.

for x in myresult:
    print(x)

('Mandy', 'spring avenue 87', 4)
('Michelle', 'spring bank 889', 5)
('Sandra', 'henry way 10', 6)
('Natalie', 'Pearson 100', 7)
('Richardson', 'RedSky st 391', 8)